.content-container {
  /* max-height: 50%; */
  overflow-y: scroll;
}
.content-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container div p {
  font-size: 3rem;
}
