.list {
  list-style-type: none;
  width: 92%;
  padding: 1rem;
}
.list li {
  /* padding: 0.3rem; */
  text-align: center;
  color: var(--secondary-text);
}
.list li button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--textbox-background);
  padding: 0.6rem;
}
.list li button:hover {
  background-color: var(--hover-color);
}
.list li.active {
}
