.chat-container {
  flex: 1;
  background-color: var(--primary-background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-chat {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--primary-text);
  justify-content: space-between;
  flex: 1;
  max-height: 92%;
}
